body,html,#root{
  height: 100%;
  background: #edf6ff;
}
.navbar-dark{
  background-color: #303F60;
}
.heroBg::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: #303F60;
  height: 300px;
}
.heroBgLogin::before{
  content: '';
  height: 190px;
}
.hero{
  position: relative;
}
div.hero img{
  border-radius: 20px;
  margin-top: 2.5rem;
}
.card__login {
  width: 100%;
  max-width: 500px;
  margin: 7rem auto 0;
  border-radius: 1.25rem;
  padding: 1rem;
}
/* whyUsSec style */
.whyUsSec{
  background-color: #EDF6FF;
}
.title{
  font-size: 1.25rem;
}
div.card__bg{
  border: none;
  box-shadow: 0px 3px 6px #dee8f3
}
ol.breadcrumb{
  padding: 10px;
}
/* profile section style */
.profile{
  cursor: pointer;
}
.profileSec{
  width: 40px;
  height: 40px;
  background: rgba(217, 239, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.profileArrow{
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  right: -26px;
  top: 5px;
}
span.profileLogout {
  position: absolute;
  background: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  top: 60px;
  right: -33px;
  z-index: 1;
  cursor: pointer;
  display: none;
}
span.profileLogout.active{
  display: block;
}
span.profileLogout:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: -4px;
  transform: rotate(45deg);
}
.navbar-brand{
  font-size: 1.5rem !important;
  font-weight: 600;
}
div.alert-light{
  position: absolute;
  z-index: 2;
  right: 56px;
  top: 72px;
  padding: 10px;
}
.close{
  background: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.25rem;
}
.post__link {
  text-decoration: none;
  position: relative;
  margin-right: 2.5rem;
}
.post__link:hover:after{
  content: '';
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: #43AFFF;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.modal.show{
  display: block;
}
.modal-dialog{
  position: relative;
  z-index: 9999;
}
.modal-body{
  height: calc(100vh - 122px);
    overflow: auto;
}
/* utility */
.color-white{
  color: #fff !important;
}
.color-red{
  color: rgba(255, 0, 0, 1);
}
button.btn-outline-custom,
a.btn-outline-custom{
  border: 1px solid #43AFFF;
  background: #4D618E;
  color: #fff;
  font-weight: 600;
}
button.btn-custom,
a.btn-custom{
  background: #43AFFF;
}
button.btn-secondery,
a.btn-secondery{
  background: rgba(232, 232, 232, 0.2);
  border: 1px solid #C6C6C6;
  color: #000;
}
a.btn:hover{
  color: #fff;
}
.border__top{
  border-top: 1px solid #4D618E;
}
.primaryTextColor{
  color: #43AFFF;
}
.secondaryTextColor{
  color: rgba(48, 63, 96, 1);
}
.display-7{
  font-size: 1.625rem;
}
.display-8{
  font-size: 1.25rem;
}
.display-9{
  font-size: 1rem;
}
label{
  font-weight: 500;
}
input.form-control{
  border: 1px solid #C6C6C6;
  background-color: rgba(232, 232, 232, 0.2);
  padding: 10px;
}
input.form-control::placeholder{
  color: #303f60 !important;
}
.mr-2{
  margin-right: 1rem;
}
.text-right{
  text-align: right;
}
.grayBg{
  background: #e0e4ed;
  padding: 1rem 0;
  border-radius: 10px;
}
div.border-gray{
  border: 1px solid rgba(48, 63, 96, 0.5)
}
ul.paginate {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.paginate li {
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  color: #303f60;
}
.paginate li:first-child span {
  position: absolute;
  font-size: 2rem;
  top: -11px;
  left: 10px;
}
.paginate li:last-child span {
  position: absolute;
  font-size: 2rem;
  top: -11px;
  right: 10px;
}
.paginate li.active {
  background: #303f60;
  color: #fff;
}
div.card{
  border-radius: .75rem;
  height: 100%;
}
p.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}